@font-face {
    font-family: 'mr_ITCSerifGothic';
    src: url('18094.ttf') format('truetype');
}

body {
    font-family: 'mr_ITCSerifGothic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEF0ED;
    background-image: url('background.png');
    background-size: 100vw auto;
    background-repeat: no-repeat;
    background-position: top center;
    overflow-x: hidden;
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    width: 150px;
    height: auto;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links ul li {
    margin-right: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #2A562B;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    padding: 10px;
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 100%;
    left: 0;
    padding: 10px 0;
}

.dropdown:hover > .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 10px 20px;
}

.dropdown-content li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #f0f0f0;
}

.hero {
    text-align: center;
    position: relative;
    padding: 40px 20px;
    overflow: hidden;
}

.hero h1 {
    font-size: 3rem;
    color: #006400;
    line-height: 1;
    z-index: 2;
    margin: 10px 0;
}

.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.left-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    max-width: 100%;
    height: auto;
    z-index: 1;
}

.right-column {
    flex: 1;
    text-align: left;
    position: relative;
    width: 40%;
}

.right-column p.subtitle {
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: 1.6;
    max-width: 100%;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    z-index: 2;
}

.btn {
    padding: 0 20px;
    background-color: #006400;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 20px;
    z-index: 2;
    line-height: 3rem;
    display: inline-block;
}

.arrow {
    position: absolute;
    top: 20vh; /* Отступ сверху */
    left: 10vw; /* Отступ слева */
    width: 20vw; /* Размер стрелки */
    height: auto;
    z-index: 2;
}

.mission, .stats, .who-we-help, .faq, .useful-info {
    padding: 40px 20px;
    text-align: center;
}

.mission h2, .stats h3, .who-we-help h2, .faq h2, .useful-info h2 {
    color: #333;
}

.stat-block {
    margin: 20px;
}

.who-we-help .help-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.help-content ul {
    list-style: none;
    padding: 0;
    margin: 0 20px;
}

.help-content ul li {
    margin: 10px 0;
}

.faq details {
    margin: 20px 0;
    text-align: left;
    cursor: pointer;
}

.info-blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-block {
    margin: 20px;
    width: 200px;
    text-align: center;
}

.info-block img {
    width: 100%;
    height: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #006400;
    color: #fff;
}

.footer-content nav ul {
    display: flex;
}

.footer-content nav ul li a {
    color: #fff;
}

.container {
    width: 80%;
    margin: 80px auto 0;
}

@media only screen and (max-width: 576px) {
    .right-column p.subtitle {
        font-size: 0.75rem; /* Уменьшение размера текста в описании на 25% */
    }
}
